<footer class="max-w-4xl mx-auto text-center p-4 text-gray-600 text-sm rounded-2xl bg-white shadow-md border-t border-gray-300 mt-2">
  <div class="flex justify-center space-x-2 mt-2">
    <button
      class="bg-green-500 text-white px-3 py-1 rounded-lg"
      routerLink="/login">
      {{ 'LOGIN_BUTTON' | translate }}
    </button>
    <select
      class="ml-4 px-2 py-1 border rounded"
      [value]="currentLang"
      (change)="changeLang($event)"> <!-- Pasamos el evento completo -->
      <option *ngFor="let lang of languages" [value]="lang.code">
        {{ lang.name }}
      </option>
    </select>
  </div>
</footer>
