/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black;}

/* Colores definidos en la paleta */
:root {
  --primary-color: #439b84;
  --light-background: #e5ede1;
  --dark-green: #215f50;
  --light-blue: #6ccae2;
  --accent-green: #068d70;
  --light-green: #85af96;
  --teal: #54b0aa;
  --light-teal: #90d8bc;
}

/* Estilo general para el calendario */
.mat-calendar {
  background-color: var(--light-background); /* Fondo del calendario */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título del mes y año */
.mat-calendar-header {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

/* Botones de navegación (previo y siguiente) */
.mat-calendar-header-button {
  color: white;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s;
}

.mat-calendar-header-button:hover {
  background-color: var(--dark-green);
}

/* Día seleccionado */
.mat-calendar-body-selected {
  background-color: var(--accent-green) !important;
  color: white !important;
  border-radius: 50%;
}

/* Días deshabilitados */
.mat-calendar-body-disabled {
  background-color: var(--light-teal) !important;
  color: var(--light-background);
}

/* Día hover (cuando el mouse pasa sobre un día) */
.mat-calendar-body-active:hover {
  background-color: var(--light-blue);
  color: white;
}

/* Estilo de los días del mes */
.mat-calendar-body-cell {
  color: var(--primary-color);
}

/* Estilo de los días actuales (hoy) */
.mat-calendar-body-current {
  background-color: var(--teal) !important;
  color: white;
  border-radius: 50%;
}

/* Estilo de las fechas no seleccionadas */
.mat-calendar-body-cell-disabled {
  background-color: var(--light-background);
  color: var(--dark-green);
}


