<main class="bg-white rounded-2xl shadow-xl max-w-4xl mx-auto mt-8">
  <app-header [step]="currentStep"></app-header>

  @switch (currentStep) {
    @case (0) {
      <app-first-window></app-first-window>
    }
    @case (1) {
      <app-second-window></app-second-window>
    }
    @case (2) {
      <app-third-window></app-third-window>
    }
  }

  <div class="p-4 mx-4 mt-6 flex" [class.justify-between]="currentStep > 0" [class.justify-end]="currentStep === 0">
    @if (currentStep > 0) {
      <button (click)="prevStep()" class="bg-black text-white py-2 px-6 rounded-lg hover:bg-gray-800">
        ATRÁS
      </button>
    }
    @if (currentStep < 2) {
      <button (click)="nextStep()" class="bg-black text-white py-2 px-6 rounded-lg hover:bg-gray-800">
        SIGUIENTE
      </button>
    }
  </div>
</main>
