<div class="p-8">
  <div class="text-center mb-6">
    <h2 class="text-gray-800 text-xl font-semibold">
      SELECCIONE FECHA Y HORA DE CITA
    </h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <calendario [initialDate]="selectedDate" (dateChange)="onDateSelected($event)"></calendario>
    <div class="flex flex-col space-y-4">
      <app-zona-horaria [initialTimezone]="selectedTimezone" (timezoneSelected)="onTimezoneSelected($event)"></app-zona-horaria>
      <horas-reserva
        [initialHour]="selectedHour"
        [selectedDate]="selectedDate"
        [serviceDurationMinutes]="currentServiceDuration"
        (hourChange)="onHourSelected($event)">
      </horas-reserva>
    </div>
  </div>

  <div class="mt-6">
    <p class="text-gray-700">
      Fecha seleccionada: {{ selectedDate | date: 'fullDate' }}
    </p>
    <p class="text-gray-700">
      Hora seleccionada: {{ selectedHour }}
    </p>
    <p class="text-gray-700">
      Zona horaria seleccionada: {{ selectedTimezone }}
    </p>
  </div>
</div>
