

  <div class="p-8">
    <!-- Título centrado -->
  <div class="text-center mb-6">
    <h2 class="text-gray-800 text-xl font-semibold">SELECCIONE FECHA Y HORA DE CITA</h2>
  </div>

  <!-- Grid para dividir el contenido en dos columnas -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Calendario (más grande) -->
    <calendario/>

    <!-- Zona Horaria y Botones de hora -->
    <div class="flex flex-col space-y-4">
      <!-- Zona Horaria -->
      <zona-horaria/>

      <!-- Botones de hora con scroll -->
      <horas-reserva/>
    </div>

  </div>

  

  </div>




