<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<app-appointment-detail-modal
  [visible]="isDetailModalVisible"
  [appointment]="selectedAppointmentForModal"
  (close)="closeAppointmentDetailModal()"
  (modify)="handleModifyAppointmentRequest($event)"
  (delete)="handleDeleteAppointmentRequest($event)"> <!-- Escucha el evento (delete) -->
</app-appointment-detail-modal>

<app-appointment-form-modal
  [visible]="isAppointmentFormModalVisible"
  [mode]="appointmentFormMode"
  [selectedDate]="dateForNewAppointment"
  [appointmentToEdit]="currentAppointmentToEdit"
  (close)="closeAppointmentFormModal()"
  (save)="guardarModalCita($event)">
</app-appointment-form-modal>
