<div class="calendar-container">
  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-200">
        <th class="border border-gray-300 p-2">Todo el día</th>
        <th class="border border-gray-300 p-2">Dom 6/4</th>
        <th class="border border-gray-300 p-2">Lun 7/4</th>
        <th class="border border-gray-300 p-2">Mar 8/4</th>
        <th class="border border-gray-300 p-2">Mié 9/4</th>
        <th class="border border-gray-300 p-2">Jue 10/4</th>
        <th class="border border-gray-300 p-2">Vie 11/4</th>
        <th class="border border-gray-300 p-2">Sáb 12/4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-gray-300 p-2">12 am</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
        <td class="border border-gray-300 p-2 bg-gray-100">Fuera de la oficina</td>
      </tr>
      <!-- Repetir filas para cada hora -->
    </tbody>
  </table>
</div>
