<div class="flex flex-col space-y-2">
  <label class="text-gray-700 font-medium">Zona horaria</label>
  <mat-select
    class="w-full py-2 px-4 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500"
    (selectionChange)="onTimezoneSelected($event.value)"
    [value]="selectedTimezone"
  >
    <mat-optgroup [label]="group.continent" *ngFor="let group of timezonesByContinent">
      <mat-option [value]="timezone.name" *ngFor="let timezone of group.timezones">
        {{ timezone.name }} ({{ timezone.offset }})
      </mat-option>
    </mat-optgroup>
  </mat-select>
</div>
